.navbar{
    display: flex;
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none;
}
.navItem{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    margin-left:45px;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

#top_Gray{
    background-color:#E2E2E2;
    font-size: 40px;
    margin: -7px -5px 1px;
}

#text_box{
    padding: 20px;
    border: 3px solid #A5A5A5;
    background-color: #E2E2E2;
    width:70%;
    margin: auto;
}

#stats_table{
    padding: 20px;
    border: 3px solid #A5A5A5;
    background-color: #E2E2E2;
    width:70%;
    margin-left: 40px;
}

#ticker{
    margin-left: 40px;
    font-size: 18px;
}

#selection{
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}

